      body {
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: bisque;
      }

      h1 {
        font-size: xx-large;
        text-align: center;
        color: crimson;
        font-weight: bolder;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      }

      th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      thead {
        background-color: #71c874;
        color: white;
      }

      tr:hover {
        background-color: #f28787;
      }